<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fafu.database.mapper.businessmapper.usermapper.UserCartMapper">

    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cart (userId, goodId, quantity)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.goodId}, #{item.quantity})
        </foreach>
    </insert>

    <delete id="deleteList">
        DELETE FROM cart WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <update id="updateList">
        <foreach collection="list" item="item" separator=";">
            UPDATE cart
            <set>
                <if test="item.userId != null">userId = #{item.userId},</if>
                <if test="item.goodId != null">goodId = #{item.goodId},</if>
                <if test="item.quantity != null">quantity = #{item.quantity},</if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <select id="selectList" resultType="edu.fafu.database.entity.Cart">
        SELECT id, userId, goodId, quantity
        FROM cart
        <where>
            <if test="entity.id != null">AND id = #{entity.id}</if>
            <if test="entity.userId != null">AND userId = #{entity.userId}</if>
            <if test="entity.goodId != null">AND goodId = #{entity.goodId}</if>
            <if test="entity.quantity != null">AND quantity = #{entity.quantity}</if>
        </where>
    </select>

    <select id="countByUserId" resultType="int">
        SELECT COUNT(*) FROM cart WHERE userId = #{userId}
    </select>

    <select id="selectByIds" resultType="edu.fafu.database.entity.Cart">
        SELECT id, userId, goodId, quantity
        FROM cart
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>